/* ./src/index.css */
.vida-webrtc-widget {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;
}

.vida-webrtc-widget .main-container {
    outline: none !important;
    cursor: pointer !important;    
    height: 72px !important;
    width: 72px !important;    
    border-radius: 1rem !important; /* 16px */
    overflow: hidden !important;
    transition: background-color 0.2s, border-radius 0.2s, box-shadow 0.2s, filter 0.5s;
    background-color: #1F2937 !important;
    z-index: 99 !important;
    background-color: transparent !important;
    padding: 0px;
    color: transparent !important;
}
.vida-webrtc-widget .main-container-expanded {
    width: 150px !important;
    background-color: #1F2937 !important;
    border-radius: 1rem !important; /* 16px */
    border-width: 0px !important;
    border-style: solid !important;
    border-color: #e5e7eb !important; /* Default border color */
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
                0 4px 6px -2px rgba(0, 0, 0, 0.05) !important;
    filter: drop-shadow(0 25px 25px rgba(0, 0, 0, 0.15)) !important;
}
.vida-webrtc-widget .main-container:hover {
    width: 150px !important;
    background-color: #1F2937 !important;
    border-radius: 1rem !important; /* 16px */
    border-width: 0px !important;
    border-style: solid !important;
    border-color: #e5e7eb !important; /* Default border color */
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
                0 4px 6px -2px rgba(0, 0, 0, 0.05) !important;
    filter: drop-shadow(0 25px 25px rgba(0, 0, 0, 0.15)) !important;
}

@keyframes rotate-shake {
    0% { transform: rotate(0deg); }
  25% { transform: rotate(10deg); }
  50% { transform: rotate(0deg); }
  75% { transform: rotate(-10deg); }
  100% { transform: rotate(0deg); }
}

@keyframes blink {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.vida-webrtc-widget .call-loading {
  animation: blink 1s infinite;
}

.vida-webrtc-widget .welcome-text {
    width: auto !important;
    text-align: center !important;
}

.vida-webrtc-widget .call-buttons {
    margin-left: 8px !important;
}

.vida-webrtc-widget .avatar-container {
    overflow: hidden !important;
    cursor: pointer !important;
    background-color: transparent !important;
}

.vida-webrtc-widget .avatar-container .avatar-button {
    background-color: transparent !important;
    outline: none !important;
    box-shadow: none !important; /* Remove any default box-shadow */
    padding: 0 !important;
    padding-left: 5px !important;
}

.vida-webrtc-widget .avatar-container .avatar-logo {
    background-color: transparent !important;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4) !important; /* Slight drop shadow */

}

.vida-webrtc-widget .avatar-container button {
    border: none !important;
    outline: none !important;
}

.vida-webrtc-widget .avatar-container img:hover {
  animation: rotate-shake 0.5s;
  cursor: pointer !important;
}

.vida-webrtc-widget .main-container .avatar-text {
    color: transparent !important;
}
.vida-webrtc-widget .main-container-expanded .avatar-text {
    color: #FFF !important;
}
.vida-webrtc-widget .main-container:hover .avatar-text {
    color: #FFF !important;
}
.vida-webrtc-widget .avatar-text {
    padding-right: 8px !important;
}

.vida-webrtc-widget {
    outline: none !important;
}

.vida-webrtc-widget .w-name {
    
}

.vida-webrtc-widget .text-2xs {
    font-size: 0.5rem !important;
    line-height: 0.75rem !important;
}

.vida-webrtc-widget .bg-primary {
    background-color: rgb(59 130 246) !important;
}

.vida-webrtc-widget .bg-warning {
    background-color: rgb(244 63 94) !important;
}

.vida-webrtc-widget .bg-gray {
    background-color: rgb(107 114 128) !important;
}

.vida-webrtc-widget .text-white {
    color: white !important;
}

.vida-webrtc-widget .flex {
    display: flex !important;
}

.vida-webrtc-widget .flex-row {
    flex-direction: row !important;
}

.vida-webrtc-widget .gap-1 {
    gap: .25rem !important;
}

.vida-webrtc-widget .gap-4 {
    gap: 1rem !important;
}

.vida-webrtc-widget .p-3 {
    padding: 0.75rem !important;
}

.vida-webrtc-widget .items-center {
    align-items: center !important;
}

.vida-webrtc-widget .text-xs {
    font-size: 0.75rem !important;
    line-height: 1rem !important;
}

.vida-webrtc-widget .font-bold {
    font-weight: 700 !important;
}

.vida-webrtc-widget .cursor-pointer {
    cursor: pointer !important;
}

.vida-webrtc-widget .rounded-full {
    border-radius: 9999px !important;
}

.vida-webrtc-widget .w-14 {
    width: 3.5rem !important;
}

.vida-webrtc-widget .flex-col {
    flex-direction: column !important;
}

.vida-webrtc-widget .w-full {
    width: 100% !important;
}

.vida-webrtc-widget .content-center {
    justify-content: center !important;
}

.vida-webrtc-widget .place-content-end {
    justify-content: flex-end !important;
}

.vida-webrtc-widget .gap-2 {
    gap: 0.5rem !important;
}

.vida-webrtc-widget .py-1 {
    padding-top: 0.25rem !important;
    padding-bottom: 0.25rem !important;
}

.vida-webrtc-widget .py-3 {
    padding-top: 0.75rem !important;
    padding-bottom: 0.75rem !important;
}

.vida-webrtc-widget .px-2 {
    padding-left: 0.5rem !important;
    padding-right: 0.5rem !important;
}

.vida-webrtc-widget .px-3 {
    padding-left: 0.75rem !important;
    padding-right: 0.75rem !important;
}

.vida-webrtc-widget .hidden {
    display: none !important;
}

.vida-webrtc-widget .text-center {
    text-align: center !important;
}

/* Default button styles for .vida-webrtc-widget */
.vida-webrtc-widget button {
    display: inline-block !important;
    font-size: .80rem !important;
    text-align: center !important;
    text-decoration: none !important;
    color: #ffffff !important;
    border: none !important;
    border-radius: 0.25rem !important;
    transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    cursor: pointer !important;
    outline: none !important;
}

.vida-webrtc-widget button:hover {
    filter: brightness(90%) !important;
    outline: none !important; /* Ensure no outline on focus */
}

.vida-webrtc-widget button:active {
    filter: brightness(80%) !important;
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125) !important;
    outline: none !important; /* Ensure no outline on focus */
}

.vida-webrtc-widget button:focus {
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5) !important;
    outline: none !important; /* Ensure no outline on focus */
}

.vida-webrtc-widget button:disabled {
    background-color: #6c757d !important;
    cursor: not-allowed !important;
    opacity: 0.65 !important;
    outline: none !important; /* Ensure no outline on focus */
}

/* Specific button color styles */
.vida-webrtc-widget .bg-warning {
    background-color: rgb(244, 63, 94) !important;
    min-width: 50px !important;
}

.vida-webrtc-widget .bg-gray {
    background-color: rgb(107, 114, 128) !important;
    min-width: 50px !important;
}

